.calc-display {
    width: 200px;
    height: 325px;
    border: 2px solid black;
    margin-left: 50px;
}


.black-box {
    width: 200px;
    height:75px;
    background-color: green;
}

.five-symbol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.dial-pad {
    width: 150px;
    height: 250px;
}

.dial-a-number {
    display:flex;
    flex-wrap: wrap;
}
